<!-- ng-view -->
 <div id="catalogue" class="grid-container">
     <div class="grid-x grid-padding-x white align-middle">
         <div class="cell">
            <br> <h4 class=" uppercase text-center">{[{doorsData.slogan}]}</h4><br>
         </div>
         <div class="cell medium-4 large-3 xlarge-2 text-center">
             <img src="assets/img/doors-logo-w.svg" class="door-logo" alt=""><br>
         </div>
         <div class="cell auto ">
             <p>{[{doorsData.intro}]}</p>
         </div>
     </div>
 </div><br>
 <div class="grid-x  grid-padding-y small-up-2 medium-up-3 large-up-4 xlarge-up-5" data-equalizer data-equalize-on="medium" data-equalize-by-row="true">
     <div class="cell model-card" ng-repeat="model in doorsData.catalogue" data-equalizer-watch>
         <a href="#/door#view" ng-click="selectModel($index)">
             <div class="grid-x  ">
                 <div class="cell text-center">
                     <img style="margin: 1rem 0 0.6rem" src="assets/img/doors/catalogue/{[{model.name}]}/1.webp" alt="">
                 </div>
                 <div class="cell">
                     <h4 class="white uppercase text-center">{[{model.name}]}</h4>
                 </div>
             </div>
         </a>
     </div>
 </div><br>
 <div class="grid-x align-center">
     <div class="cell text-center">
         <a href="#/main#ourWorks" class="hollow button back-btn "><i class="fas fa-arrow-left "></i> повернутись</a><br>
     </div>
 </div>
 
