<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <meta name="description" content="фабрика ексклюзивних дверей для вимогливих клієнтів">
    <meta property="og:image" content="https://dmwood.com.ua/">
    <meta property="og:url" content="https://dmwood.com.ua/" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:type" content="website" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" href="assets/css/app.css">
    <script src="https://kit.fontawesome.com/0caeff61d9.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="grid-x" style="position: relative;">
        <div class="cell large-6 xlarge-5 text-center" style="position: relative;">
            <div class="grid-x model-title">
                <div class="cell code">
                    <h4 class="text-center white">{[{doorsData.catalogue[selectedModel].code}]}</h4>
                </div>
                <div class="cell model-name uppercase white">
                    <h4>{[{doorsData.catalogue[selectedModel].name}]}</h4>
                </div>
            </div>
            <img class="drop-shadow model-big-img"  src="assets/img/doors/catalogue/{[{doorsData.catalogue[selectedModel].name}]}/{[{selectedVariant}]}.webp" alt=""><br><br>
        </div>
        <div class="cell large-6 xlarge-7 white-bg" style="position: relative;">
            <div class="model-fragm">
                <img style="max-width: 24vw" src="assets/img/doors/catalogue/{[{doorsData.catalogue[selectedModel].name}]}/thumbs/7.webp" alt="">
            </div>
            <div class="grid-x small-up-3" data-equalizer data-equalize-on="medium" data-equalize-by-row="true">
                <div class="cell " ng-repeat="img in doorsData.catalogue[selectedModel].thumbs" data-equalizer-watch>
                    <a ng-click="selectVariant($index)">
                        <div class=" text-center">
                            <img style="max-width: 24vw; margin: 1rem 0 0.6rem" src="assets/img/doors/catalogue/{[{doorsData.catalogue[selectedModel].name}]}/thumbs/{[{img}]}.webp" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="cell text-center"><br>
            <button ng-click="prevModel()" type="button" class="small button prv-btn text-center  uppercase"><i class="fa fa-angle-left fa-2x"></i> 
                <span> {[{prevModelName}]} </span></button>
            <button ng-click="nextModel()" type="button" class="small button nxt-btn text-center  uppercase">
    <span> {[{nextModelName}]} </span><i class="fa fa-angle-right fa-2x"></i></button><br>
            <a href="#/dmdoors#catalogue" class="hollow button back-btn uppercase"><i class="fas fa-arrow-left "></i> повернутись</a>
        </div>
    </div>
    <script src="https://code.angularjs.org/1.8.2/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.8.2/angular-route.min.js"></script>
    <script src="https://code.angularjs.org/1.8.2/angular-animate.min.js"></script>
    <script src="https://code.angularjs.org/1.8.2/angular-sanitize.min.js"></script>
    <script src="assets/js_plugins/myAngular.js"></script>
    <script src="assets/js/app.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="assets/js_plugins/angular-slick.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAfuN7UgfDB2RfqBeNIZ1S_rpZ6HU-GKYU"></script>
    <script>
    var myCenterLviv = new google.maps.LatLng(49.89215777377054, 24.058172935771097);

    var dmPin = 'assets/img/map-pin.png';

    function initialize() {
        var mapPropLviv = {
            zoomControl: true,
            scrollwheel: false,
            center: myCenterLviv,
            zoom: 16,
            disableDefaultUI: true,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var mapLviv = new google.maps.Map(document.getElementById("googleMapLviv"), mapPropLviv);


        var myMarker = new google.maps.Marker({
            position: myCenterLviv,
            icon: dmPin,
            map: mapLviv,
            title: 'Топольна, 4'
        });

    }
    google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</body>

</html>