<!-- ng-view -->
 <div class="grid-x" style="position: relative;">
     <div class="cell large-6 xlarge-5 text-center" style="position: relative;">
         <div class="grid-x model-title">
             <div class="cell code">
                 <h4 class="text-center white">{[{doorsData.catalogue[selectedModel].code}]}</h4>
             </div>
             <div class="cell model-name uppercase white">
                 <h4>{[{doorsData.catalogue[selectedModel].name}]}</h4>
             </div>
         </div>
         <img class="drop-shadow model-big-img"  src="assets/img/doors/catalogue/{[{doorsData.catalogue[selectedModel].name}]}/{[{selectedVariant}]}.webp" alt=""><br><br>
     </div>
     <div class="cell large-6 xlarge-7 white-bg" style="position: relative;">
         <div class="model-fragm">
             <img style="max-width: 24vw" src="assets/img/doors/catalogue/{[{doorsData.catalogue[selectedModel].name}]}/thumbs/7.webp" alt="">
         </div>
         <div class="grid-x small-up-3" data-equalizer data-equalize-on="medium" data-equalize-by-row="true">
             <div class="cell " ng-repeat="img in doorsData.catalogue[selectedModel].thumbs" data-equalizer-watch>
                 <a ng-click="selectVariant($index)">
                     <div class=" text-center">
                         <img style="max-width: 24vw; margin: 1rem 0 0.6rem" src="assets/img/doors/catalogue/{[{doorsData.catalogue[selectedModel].name}]}/thumbs/{[{img}]}.webp" alt="">
                     </div>
                 </a>
             </div>
         </div>
     </div>
     <div class="cell text-center"><br>
         <button ng-click="prevModel()" type="button" class="small button prv-btn text-center  uppercase"><i class="fa fa-angle-left fa-2x"></i> 
             <span> {[{prevModelName}]} </span></button>
         <button ng-click="nextModel()" type="button" class="small button nxt-btn text-center  uppercase">
 <span> {[{nextModelName}]} </span><i class="fa fa-angle-right fa-2x"></i></button><br>
         <a href="#/dmdoors" class="hollow button back-btn uppercase"><i class="fas fa-arrow-left "></i> повернутись</a>
     </div>
 </div>
 
