<!-- ng-view -->
 <div class="works-cat">
     <div class="show-for-medium grid-x medium-up-4 large-up-6 xlarge-up-8 align-center">
         <div class=" cell " ng-repeat="cat in data.works" ng-click="selectCat($index)" ng-class="{menuCatSel: $index == menuCatSel}">
             <a >
                 <h6 class=" s-bold uppercase text-center">{[{cat.name}]} </h6>
             </a>
         </div>
     </div>
     <div class="hide-for-medium grid-x grid-padding-x align-center">
         <div class="cell small-10 s-bold ">
             <select class="s-bold" ng-model="selectedCat" ng-options="cat.name for cat in data.works">
             </select>
         </div>
     </div>
 </div><br>
 <div id="gallery" class="grid-container">
     <div class="grid-x grid-padding-x  text-center">
         <div class="cell">
             <br>
             <h2 class="white uppercase">{[{selectedCat.name}]}</h2>
             <a ng-show="selectedCat.id == 'doors'" href="#/dmdoors#catalogue" class="button door-cat-btn">
                 <span class="uppercase s-bold">каталог дверей</span>
             </a><br>
             <slick settings="gallerySlickConfig">
                 <div ng-repeat="image in selectedCat.img">
                     <div class="grid-x align-center-middle">
                         <div class="cell large-shrink">
                             <a href="" ng-click="selectImg(image)">
                                 <img src="assets/img/{[{selectedCat.id}]}/{[{image}]}.webp" alt="">
                             </a>
                         </div>
                     </div>
                 </div>
             </slick><br>
             <a href="#/main#ourWorks" class="hollow button back-btn uppercase"><i class="fas fa-arrow-left "></i> повернутись</a>
         </div>
     </div>
 </div>
